GOOGLE_API_KEY=GOOGLE_API_KEY
GROQ_API_KEY=GROQ_API_KEY
SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT
SMTP_USER=SMTP_USER
SMTP_PASS=SMTP_PASS
USE_MODEL=gemini-2.5-flash-lite
LANGUAGE=es

# OAuth2 Server - Comunicación con el servidor de autenticación
OAUTH2_URL=http://host.docker.internal:8080
PUBLIC_OAUTH2_URL=http://localhost:8080
PUBLIC_REDIRECT_URI=http://localhost:9000/oauth/callback

# Endpoints OAuth2
OAUTH2_TOKEN_ENDPOINT=/oauth/token
OAUTH2_USERINFO_ENDPOINT=/user/me

# Credenciales OAuth2 (debes configurar estas en tu .env)
OAUTH2_CLIENT_ID=transcriberapp
OAUTH2_CLIENT_SECRET=tu_client_secret_aqui

# Ruta para almacenar los datos de transcripción
# TRANSCRIBER_DATA=C:/Users/tu_usuario/transcriber  # Windows
TRANSCRIBER_DATA=/home/tu_usuario/transcriber   # Linux/Mac